<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baima.checkupdate">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <activity android:name=".CheckUpdateInstallerActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.baima.checkupdate.INSTALL_APK"
                    android:exported="true"/>
            </intent-filter>
        </activity>
    </application>

</manifest>